<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="book-list.css" />
    <script src="book-list.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Library Management System</title>
  </head>
  <body>
    <header><h1>Books In Library</h1></header>
    <div class="tab">
      <button class="buttons" id="book-list-button">Book List</button>
      <button class="buttons" id="user-list-button">User List</button>
      <button class="buttons" id="add-book">Add Book</button>
    </div>
    <br />
    <main>
      <table id="book-table" class="forms">
        <thead>
          <tr>
            <th>ISBN No.</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Price</th>
            <th>Update Details</th>
            <th>Delete Books</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </main>
  </body>
</html>
