<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Library Management System</title>
</head>
<body>
    <main class="forms">
        <header class="main-header">
            <h1>The Alchemist</h1>
            <h3>Author : Paulo Coelho</h3>
            <h3>ISBN No. : 9788172234980</h3>
            <h3>Publication Year : 1998</h3>
            <h3>Price : 262/-</h3>
            <p>Description : The Alchemist is a novel by Brazilian author Paulo Coelho which was first published in 1988. Originally written in Portuguese, it became a widely translated international bestseller. The story follows the shepherd boy Santiago in his journey across North Africa to the Egyptian pyramids after he dreams of finding a treasure there.</p>
            <center><button class="buttons">Borrow</button></center>
        </header>
    </main>
</body>
</html>